#main-head{
    
 height:calc(100vh - 54px);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZp9d-XJSup0PaRgBvTIKBFuC6gNpTsj5rew&s);
    background-size:cover;
}

.page-section{
padding: 6rem 0;
}

.section-heading{
    font-weight: bold;
    margin-bottom: 1rem;

}

.section-subheading{
    margin-bottom: 4rcm;
}